	{% extends "base.html" %}

{% block title %}
	Home - Flask-O-shop
{% endblock %}

{% block content %}
	<br><br><h3>Profile</h3>
	{% endif %}
	<br>
	<table>
  <tr>
    <td>User ID</td>
    <td colspan="2">1 (TBR)</td>
  </tr>
  <tr>
    <td>Name</td>
    <td colspan="2">customer1 (TBR)</td>
  </tr>
  <tr>
      <th rowspan="2">Contact Information</th>
      <td>Phone Number</td>
      <td>91234567 (TBR)</td>
    </tr>
    <td>Email Address</td>
      <td>customer1@gmail.com (TBR), confirmed (TBR)</td>
    <tr>
    <td>Password</td>
    <td colspan="2">customer1 (TBR)</td>
  </tr>
 <tr>
      <th rowspan="2">Billing Information</th>
      <td>Bank Account Number</td>
      <td>1234567890 (TBR)</td>
    </tr>
    <td>Credit Card Number</td>
      <td>1234567890 (TBR)</td>
    <tr>
</table>

	</a>
	{% endfor %}
	</div>

	{% endif %}
{% endblock %}
